body{
  background-color:  rgb(190, 206, 201);
}

.container {
  background-color: rgb(2, 2, 76);
  width: 50%;
  height: 50vh;
  margin: auto;
  margin-top: 80px;
}

.header {
  color: white;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
}

.inputbox {
  border: none;
  width: 500px;
  height: 27px;
  background-color: bisque;
  align-items: center;
  outline: none;
  margin: 20px;
}
.btn {
  width: 70px;
  height: 29px;
  background-color: rgb(5, 161, 5);
  margin-left: 20px;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.list {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  color: white;
  font-weight: bold;
  margin: 20px;
}

.para{
  color: black;
  background-color: white;
  margin: 20px;
  font-size: 15px;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 400px;
  
}
